*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(0, 0, 0, 0.603);
}
/*ESTILOS MENU*/
.menu{
    background: rgba(232, 235, 59, 0.733);
    color: black;
    border: 1px solid #000;
    border-radius: 0px 0px 8px 8px;
}
.panelMenu{
    width: 100%;
    height: 8vh;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}
ul li{

    display: inline;
    margin: 10px;
}
a{
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    font-size: 40px;
    color: rgb(0, 247, 255);
}
.Csubmenu{
    margin: 5px 15px;
    padding: 5px;
}
.btns{
    display: inline;
}
.btnmenu{
    cursor: pointer;
    background: none;
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
}

.btnmenu:hover{
    background: blue;
    color: white;
}

/*ESTILOS CONTENEDOR*/
.contenedor{
    width: 98%;
    display: flex;
}
.CajaParrafo{
    width: 30%;
    border:3px solid #000;
    background: rgba(110, 248, 225, 0.733);
    display: inline-block;
    margin: 5px;
    
}
.CajaParrafo h1{
    text-align: center;
    color: rgba(0, 172, 9, 0.918);
    font-size: 50px;
   
}

.CajaParrafo p{
    text-align:justify;
    color: rgba(0, 0, 0, 0.918);
    font-size: 20px;
    margin: 15px;
    
}

.CajaImagen{
    width: 50%;
    text-align:center;
    display: inline-block;
    margin: 10px;
}
.CajaImagen img{
    width: 100%;
    
}
.CajaImagen p{
    text-align:center;
    color: rgba(255, 255, 255, 0.918);
    font-size: 30px;
    margin: 5px;

}

.CajaFormulario{
    width: 40%;
    /*background: rgba(59, 235, 112, 0.733);*/
    display: inline-block;
    margin: 5px;
}
.Formulario{
    width: 100%;
    height: 85vh;
    background: rgba(59, 235, 112, 0.733);;
    display: inline-block;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 10px;

}
.Formulario .labelform{
    text-align:justify;
    color: rgba(0, 0, 0, 0.918);
    position: absolute;
    top: 26px;
    left: 0px;
    font-size: 20px;
    font-style: italic;
    line-height: 20px;
    margin-left: 16px;
    transition: all .3s ease;
    
}
.Formulario .active{
    top: -12px;
    font-size: 20px;
    line-height: 18px;
    color: #000;

}

.Formulario .inputform{
    display: block;
    text-align:justify;
    height: 4vh;
    margin: 2px;
    background: none;
    color: rgb(117, 0, 250);
    font-size: 18px;
    width: 80%;
    outline: none;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #000;
}
.Formulario .inputform:focus, .inputform:active{
    outline: none;
    border-bottom: 2px solid orangered;
}

.Formulario input[type='button']{
    width: 80%;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
    background: rgb(32, 231, 238);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.Formulario .TituloFormulario{
    text-align: center;
    color: rgba(0, 82, 177, 0.918);
    font-size: 30px;
}

.input-group{
    position: relative;
    margin-bottom: 32px;

}


/*Tablas*/
.CajaTabla{
    display:inline;
    margin-top: 5px;
    margin-left: 25px;
    height: 85vh;
    width: 80%;
    background: white;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 2px 5px rgba(41, 41, 41, 0.3);
    overflow: scroll;
}

.tabla{
    width: 95%;
    margin: 20px;
    border-collapse: collapse;
}
.fila{
    border: 1px solid #000;
    padding: 0;
}
.columna{
    border: 1px solid #000;
    padding: 0;
    text-align: center;
}
.TituloTabla{
    text-align: center;
    font-size: 30px;
}

.columna input{
    width: 98%;
    height: 98%;
    position: relative;
    text-align: center;
    font-size: 20px;
    border: none;
}

.columna label{
    width: 98%;
    height: 98%;
    position: relative;
    text-align: center;
    font-size: 20px;
    border: none;
}

th{
height: 10vh;
background-color: aqua;
color: black;
}

/*Radio Buttons*/
.CajaRadio{
    text-align: center;
    margin: 10px;
}
.CajaRadio label{
    padding: 10px;
    color:#000;
}

/*botones cerrar*/
.CajaBtnCerrar{
    text-align: right;
    padding: 5px;
    padding-bottom: 0;
}
.BtnCerrarTabla{
    background: rgb(255, 255, 255);
    border:1px solid #000;
    border-radius: 10px;
    color: #000;
    padding: 5px;
}

.BtnCerrarTabla:hover{
    background: red;
    color:white;
}

/*Estilos Modal*/

.BtnCerrarModal{
    background: rgb(255, 255, 255);
    border:1px solid #000;
    border-radius: 10px;
    color: #000;
    padding: 5px;
}

.BtnCerrarModal:hover{
    background: red;
    color:white;
}

.modalcontainer{
    display: flex;
    position: fixed;
    margin: 20px 20px 40px 300px;
    width: 30%;
    height: 70vh;
    background: #fff;
    border:1px solid #000;
    box-shadow: 0px 2px 5px rgba(7, 6, 6, 0.3);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
}

.modalheader{
    width: 100%;
    height: 12vh;
    position: absolute;
    background: rgba(76, 78, 245, 0.788);
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #000;
}

.modalbody{
    width: 100%;
    margin-top: 72px;
    margin-bottom: 60px;
    overflow: auto;
}
.modalbody .CajaFormulario{
    width: 95%;
}
.modalbody .CajaFormulario .Formulario{
    background: none;
    border: none;
    border-radius: none;
    box-shadow: none;
}
.modalfooter{
    width: 100%;
    display: block;
    position: absolute;
    margin-top: 60vh;
    height: 10vh;
    background:chocolate;
}

.CajaBtnAgregar{
    text-align: right;
    margin-top: 10 px;
    margin-right: 10px;
}

/*Caja Estadistica*/
.CEstadistica{
    width: 30%;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

.CEstadistica .Tarjeta{
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px rgba(7, 6, 6, 0.3);
}
.Tarjeta .CajaA{
    display: inline-block;
    margin: 15px;
}
.PromedioE{
    color: green;
}
.PromedioM{
    color: yellow;
}
.PromedioR{
    color: red;
}

.CajaA i{
    margin-left: 8px;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

.iconocrece{
    color: green;
}
.iconodecrece{
    color: red;
}
.iconoigual{
    color:yellow;
}