*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(0, 0, 0, 0.603);
}
/*ESTILOS MENU*/
.menu{
    background: rgba(232, 235, 59, 0.733);
    color: black;
    border: 1px solid #000;
    border-radius: 0px 0px 8px 8px;
}
.panelMenu{
    width: 100%;
    height: 8vh;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}
ul li{

    display: inline;
    margin: 10px;
}
a{
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    font-size: 40px;
    color: rgb(0, 247, 255);
}
/*ESTILOS CONTENEDOR*/
.contenedor{
    width: 98%;
    display: flex;
}
.CajaParrafo{
    width: 30%;
    border:3px solid #000;
    background: rgba(110, 248, 225, 0.733);
    display: inline-block;
    margin: 5px;
    
}
.CajaParrafo h1{
    text-align: center;
    color: rgba(0, 172, 9, 0.918);
    font-size: 50px;
   
}

.CajaParrafo p{
    text-align:justify;
    color: rgba(0, 0, 0, 0.918);
    font-size: 20px;
    margin: 15px;
    
}

.CajaImagen{
    width: 50%;
    text-align:center;
    display: inline-block;
    margin: 10px;
}
.CajaImagen img{
    width: 100%;
    
}
.CajaImagen p{
    text-align:center;
    color: rgba(255, 255, 255, 0.918);
    font-size: 30px;
    margin: 5px;

}

.CajaFormulario{
    width: 40%;
    background: rgba(59, 235, 112, 0.733);
    display: inline-block;
    margin: 5px;
}
.Formulario{
    width: 100%;
    height: 85vh;
    background: rgba(59, 235, 112, 0.733);;
    display: inline-block;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 10px;

}
.Formulario label{
    text-align:justify;
    color: rgba(0, 0, 0, 0.918);
    position: absolute;
    top: 26px;
    left: 0px;
    font-size: 20px;
    font-style: italic;
    line-height: 20px;
    margin-left: 16px;
    transition: all .3s ease;
    
}
.Formulario .active{
    top: -12px;
    font-size: 20px;
    line-height: 18px;
    color: #000;

}

.Formulario input{
    display: block;
    text-align:justify;
    height: 4vh;
    margin: 2px;
    background: none;
    color: rgb(117, 0, 250);
    font-size: 18px;
    width: 80%;
    outline: none;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #000;
}
.Formulario input:focus, input:active{
    outline: none;
    border-bottom: 2px solid orangered;
}

.Formulario input[type='button']{
    width: 80%;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
    background: rgb(32, 231, 238);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.Formulario .TituloFormulario{
    text-align: center;
    color: rgba(0, 82, 177, 0.918);
    font-size: 30px;
}

.input-group{
    position: relative;
    margin-bottom: 32px;

}